# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env

# Dependency directories
/.pnp
.pnp.js

# Build output
dist/
build/

# Coverage directory used by tools like istanbul
coverage/

# IDE or Editor directories
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml
Dockerfile

# NPM package lock file (if using yarn, you can ignore yarn.lock)
package-lock.json

# Ignore lock files for yarn if used
yarn.lock
